@tailwind base;
@tailwind components;
@tailwind utilities;

.lowbalance {
  background: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;

}
.goobalance {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 50%;
 
}

.inc-exp-container {
  background-color: #fcfcfc;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  box-shadow: #d4eddab3 0px 0px 10px 0px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}
.navbar {
  background: #2b6372;
  color: #fff;
}

.navbar a {
  color: #fff;
}

.navbar button,
.guest button {
  border: 0;
  border-radius: 5px;
  background: rgb(29, 29, 29);
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.navbar button:hover {
  opacity: 0.9;
}

.navbar-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0.25rem 2rem;
}

.navbar .cl-button {
  background: transparent;
  border: 0;
}